credentials-setup.json
{
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          1000,
          -300
        ],
        "id": "24c90740-a4c7-42eb-adc8-506bb2a932f1",
        "name": "When clicking ‘Test workflow’"
      },
      {
        "parameters": {
          "resource": "user",
          "user": {
            "__rl": true,
            "value": "prosamik",
            "mode": "username"
          }
        },
        "type": "n8n-nodes-base.twitter",
        "typeVersion": 2,
        "position": [
          980,
          -560
        ],
        "id": "c6a8d0ca-0fe2-4648-811a-2800d201d47f",
        "name": "X",
        "credentials": {
          "twitterOAuth2Api": {
            "id": "jIBwO9FeDuKQEm01",
            "name": "X account"
          }
        }
      },
      {
        "parameters": {
          "operation": "search",
          "subreddit": "SaaS",
          "keyword": "Database",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.reddit",
        "typeVersion": 1,
        "position": [
          1200,
          -560
        ],
        "id": "578864f2-0b4e-4ec0-9889-cb6592951d89",
        "name": "Reddit",
        "credentials": {
          "redditOAuth2Api": {
            "id": "acl7NRgDAQGvq3lv",
            "name": "Reddit account"
          }
        }
      },
      {
        "parameters": {
          "driveId": "=MyDrive",
          "folderId": "={{ $json.id }}",
          "title": "Name1234"
        },
        "type": "n8n-nodes-base.googleDocs",
        "typeVersion": 2,
        "position": [
          780,
          0
        ],
        "id": "ece9b268-592b-4488-a4d3-181aaaeebed5",
        "name": "Google Docs",
        "alwaysOutputData": true,
        "executeOnce": true,
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "OxWi91nnsnCAIrK1",
            "name": "Google Docs account"
          }
        }
      },
      {
        "parameters": {
          "resource": "folder",
          "name": "0001new",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "mode": "list",
            "value": "root",
            "cachedResultName": "/ (Root folder)"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          560,
          0
        ],
        "id": "c61387ff-722c-4f11-baf2-3b5b93d6a067",
        "name": "Google Drive",
        "executeOnce": true,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "Md6cUBxemfjYB6IZ",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "resource": "video",
          "filters": {},
          "options": {}
        },
        "type": "n8n-nodes-base.youTube",
        "typeVersion": 1,
        "position": [
          1000,
          0
        ],
        "id": "8fc61594-0b0c-43b1-90aa-b04b7fa29f7c",
        "name": "YouTube",
        "executeOnce": true,
        "credentials": {
          "youTubeOAuth2Api": {
            "id": "9fuT45ziiJ1xNgEa",
            "name": "YouTube account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "samikchoudhury15@gmail.com",
            "mode": "list",
            "cachedResultName": "samikchoudhury15@gmail.com"
          },
          "timeMax": "={{ $now.plus({ week: 10 }) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          1220,
          0
        ],
        "id": "726fcbc1-b2ad-4b8f-9333-358eb722476c",
        "name": "Google Calendar",
        "executeOnce": true,
        "alwaysOutputData": true,
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "qio0wyF4oIA5hlng",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "title": "NEw Test"
        },
        "type": "n8n-nodes-base.googleSlides",
        "typeVersion": 2,
        "position": [
          1440,
          0
        ],
        "id": "3234f426-0db8-4ace-889f-8e5007d41d5d",
        "name": "Google Slides",
        "executeOnce": true,
        "credentials": {
          "googleSlidesOAuth2Api": {
            "id": "CZutmC7ExxeLaUh3",
            "name": "Google Slides account"
          }
        }
      },
      {
        "parameters": {
          "resource": "spreadsheet",
          "title": "New Test",
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          1660,
          0
        ],
        "id": "8d4c27ac-48c0-41db-9100-7d7d149c79ce",
        "name": "Google Sheets",
        "executeOnce": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "v8GFyPtaMN9OlzXU",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "task": "samik",
          "title": "New test",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.googleTasks",
        "typeVersion": 1,
        "position": [
          1880,
          0
        ],
        "id": "ec4fb597-1e64-4584-af16-b258a99a1769",
        "name": "Google Tasks",
        "executeOnce": true,
        "credentials": {
          "googleTasksOAuth2Api": {
            "id": "SLWmjM9p3yU2bop9",
            "name": "Google Tasks account"
          }
        }
      },
      {
        "parameters": {
          "model": "openai/chatgpt-4o-latest",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          480,
          -620
        ],
        "id": "24f1406c-d518-445b-bb0c-fbe01e188ac6",
        "name": "OpenRouter Chat Model"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2,
        "position": [
          -260,
          -620
        ],
        "id": "de1f8dad-1ea6-43af-a6b2-63354bfeb207",
        "name": "Embeddings OpenAI"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.2,
        "position": [
          -100,
          -620
        ],
        "id": "f59ac38f-29ce-46b3-8b10-237104008247",
        "name": "Anthropic Chat Model"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          60,
          -620
        ],
        "id": "90de58ba-d1de-48ab-bb2d-a2036a2005c4",
        "name": "Google Gemini Chat Model"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "klusterai/Meta-Llama-3.1-405B-Instruct-Turbo",
            "mode": "list",
            "cachedResultName": "klusterai/Meta-Llama-3.1-405B-Instruct-Turbo"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          200,
          -620
        ],
        "id": "75885a5b-1a96-4c8d-a55f-57a038f0745d",
        "name": "Kluster api"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
        "typeVersion": 1,
        "position": [
          320,
          -620
        ],
        "id": "403be491-7110-4865-b580-4ff701d31769",
        "name": "DeepSeek Chat Model"
      },
      {
        "parameters": {
          "httpRequestMethod": "POST",
          "graphApiVersion": "v22.0",
          "node": "17841470385453514",
          "edge": "media",
          "options": {
            "queryParameters": {
              "parameter": [
                {
                  "name": "image_url",
                  "value": "https://prosamik.com/_next/image?url=%2Fme-here.jpg&w=256&q=75"
                },
                {
                  "name": "caption",
                  "value": "testing from n8n\n\n#testing #soon_deleted"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.facebookGraphApi",
        "typeVersion": 1,
        "position": [
          1220,
          -300
        ],
        "id": "a58e59b0-e6a0-4726-8efe-2bd7edc68935",
        "name": "Facebook Graph API",
        "credentials": {
          "facebookGraphApi": {
            "id": "zFjTK3TO0r5cFrBM",
            "name": "Facebook Graph account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          -280,
          -440
        ],
        "id": "93a62c4c-4fef-4e60-ae41-d47d6a916bfd",
        "name": "Send Email",
        "webhookId": "9133e538-88a1-48e2-9be0-dc1c67e98d33"
      },
      {
        "parameters": {
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "tableName": {
            "__rl": true,
            "value": "blogs",
            "mode": "list",
            "cachedResultName": "blogs"
          },
          "additionalFields": {},
          "options": {}
        },
        "type": "n8n-nodes-base.postgresTrigger",
        "typeVersion": 1,
        "position": [
          480,
          -420
        ],
        "id": "68cf421d-4df4-4702-8487-d701d0d13e11",
        "name": "Postgres Trigger"
      },
      {
        "parameters": {
          "person": "CQmg02D0ag",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.linkedIn",
        "typeVersion": 1,
        "position": [
          1420,
          -560
        ],
        "id": "ef2fc71b-e4c0-4e53-bffe-323dccdf694d",
        "name": "LinkedIn",
        "credentials": {
          "linkedInOAuth2Api": {
            "id": "ekZm0OnpB5RZl0zB",
            "name": "LinkedIn account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "airtableOAuth2Api",
          "operation": "create",
          "base": {
            "__rl": true,
            "mode": "list",
            "value": ""
          },
          "table": {
            "__rl": true,
            "mode": "list",
            "value": ""
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          120,
          -440
        ],
        "id": "325b1928-ef44-4caf-b9ce-85ae8c5de422",
        "name": "Airtable"
      },
      {
        "parameters": {
          "httpRequestMethod": "POST",
          "graphApiVersion": "v22.0",
          "node": "17841470385453514",
          "edge": "media_publish",
          "options": {
            "queryParameters": {
              "parameter": [
                {
                  "name": "creation_id",
                  "value": "={{ $json.id }}"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.facebookGraphApi",
        "typeVersion": 1,
        "position": [
          1460,
          -300
        ],
        "id": "5682e062-27c3-43e7-83ee-ba71c829e86e",
        "name": "Facebook Graph API2",
        "credentials": {
          "facebookGraphApi": {
            "id": "zFjTK3TO0r5cFrBM",
            "name": "Facebook Graph account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Google Credentials\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 300,
          "width": 1560
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          520,
          -100
        ],
        "typeVersion": 1,
        "id": "435064fa-0b17-4e41-9eaf-018920c4d860",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C08HSAUM7T8",
            "mode": "list",
            "cachedResultName": "n8n-test"
          },
          "text": "hello from tool",
          "otherOptions": {}
        },
        "type": "n8n-nodes-base.slackTool",
        "typeVersion": 2.3,
        "position": [
          1100,
          -840
        ],
        "id": "22bc031f-016a-44a3-99ba-ca2d7ad67896",
        "name": "Message on your behalf",
        "webhookId": "e9ccf701-885c-4060-a6ed-9ec0fa58144c",
        "credentials": {
          "slackOAuth2Api": {
            "id": "DKTlId3uiUoPIFPm",
            "name": "Slack account"
          }
        }
      },
      {
        "parameters": {
          "trigger": [
            "message",
            "app_mention",
            "any_event"
          ],
          "channelId": {
            "__rl": true,
            "value": "C08HSAUM7T8",
            "mode": "list",
            "cachedResultName": "n8n-test"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.slackTrigger",
        "typeVersion": 1,
        "position": [
          1280,
          -860
        ],
        "id": "32748cb9-e4fc-4c48-82bd-cab73adb6422",
        "name": "Listen to messages ",
        "webhookId": "45384775-11a0-42dd-8ddc-66f33cdb01dd",
        "credentials": {
          "slackApi": {
            "id": "nvm1CiXlkFZjeGuA",
            "name": "Slack account 2"
          }
        }
      },
      {
        "parameters": {
          "content": "## Slack Credentials \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 260,
          "width": 420
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1060,
          -940
        ],
        "typeVersion": 1,
        "id": "cf0723da-db0e-46d9-b3a6-b7c37861c093",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## Meta Credentials \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 260,
          "width": 900
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          820,
          -380
        ],
        "typeVersion": 1,
        "id": "61364060-b564-4dfd-9064-28f16650681b",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "## Other Social media Credentials\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
          "height": 260,
          "width": 700
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          920,
          -660
        ],
        "typeVersion": 1,
        "id": "fc0d9aef-e8df-49c3-bc3a-6514e11ac6cf",
        "name": "Sticky Note3"
      }
    ],
    "connections": {
      "When clicking ‘Test workflow’": {
        "main": [
          []
        ]
      },
      "X": {
        "main": [
          []
        ]
      },
      "Reddit": {
        "main": [
          []
        ]
      },
      "Google Docs": {
        "main": [
          [
            {
              "node": "YouTube",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Drive": {
        "main": [
          [
            {
              "node": "Google Docs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "YouTube": {
        "main": [
          [
            {
              "node": "Google Calendar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Calendar": {
        "main": [
          [
            {
              "node": "Google Slides",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Slides": {
        "main": [
          [
            {
              "node": "Google Sheets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets": {
        "main": [
          [
            {
              "node": "Google Tasks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Facebook Graph API": {
        "main": [
          [
            {
              "node": "Facebook Graph API2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {
      "Listen to messages ": [
        {
          "user": "U08HSAV8ALW",
          "type": "message",
          "ts": "1742550350.548559",
          "client_msg_id": "aa459aef-f027-4faa-b61d-a6f83e332a56",
          "text": "hello",
          "team": "T08HSAV7X7G",
          "blocks": [
            {
              "type": "rich_text",
              "block_id": "FSpy2",
              "elements": [
                {
                  "type": "rich_text_section",
                  "elements": [
                    {
                      "type": "text",
                      "text": "hello"
                    }
                  ]
                }
              ]
            }
          ],
          "channel": "C08HSAUM7T8",
          "event_ts": "1742550350.548559",
          "channel_type": "channel"
        }
      ]
    },
    "meta": {
      "instanceId": "5aaaece965e40be77247b752b59c3ae2c6ee91f5df21dc5b7c0e019b005c1df4"
    }
  }