credentials-setup.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1000,
        -300
      ],
      "id": "24c90740-a4c7-42eb-adc8-506bb2a932f1",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "resource": "user",
        "user": {
          "__rl": true,
          "value": "n8n",
          "mode": "username"
        }
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        940,
        -560
      ],
      "id": "c6a8d0ca-0fe2-4648-811a-2800d201d47f",
      "name": "X",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "jIBwO9FeDuKQEm01",
          "name": "X account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "subreddit": "SaaS",
        "keyword": "Database",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [
        1980,
        -540
      ],
      "id": "578864f2-0b4e-4ec0-9889-cb6592951d89",
      "name": "Reddit",
      "credentials": {
        "redditOAuth2Api": {
          "id": "acl7NRgDAQGvq3lv",
          "name": "Reddit account"
        }
      }
    },
    {
      "parameters": {
        "driveId": "=MyDrive",
        "folderId": "={{ $json.id }}",
        "title": "Name1234"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        760,
        0
      ],
      "id": "ece9b268-592b-4488-a4d3-181aaaeebed5",
      "name": "Google Docs",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "OxWi91nnsnCAIrK1",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "0001new",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        540,
        0
      ],
      "id": "c61387ff-722c-4f11-baf2-3b5b93d6a067",
      "name": "Google Drive",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Md6cUBxemfjYB6IZ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        980,
        0
      ],
      "id": "8fc61594-0b0c-43b1-90aa-b04b7fa29f7c",
      "name": "YouTube",
      "executeOnce": true,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "9fuT45ziiJ1xNgEa",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "samikchoudhury15@gmail.com",
          "mode": "list",
          "cachedResultName": "samikchoudhury15@gmail.com"
        },
        "timeMax": "={{ $now.plus({ week: 10 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1200,
        0
      ],
      "id": "726fcbc1-b2ad-4b8f-9333-358eb722476c",
      "name": "Google Calendar",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "qio0wyF4oIA5hlng",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "title": "NEw Test"
      },
      "type": "n8n-nodes-base.googleSlides",
      "typeVersion": 2,
      "position": [
        1420,
        0
      ],
      "id": "3234f426-0db8-4ace-889f-8e5007d41d5d",
      "name": "Google Slides",
      "executeOnce": true,
      "credentials": {
        "googleSlidesOAuth2Api": {
          "id": "CZutmC7ExxeLaUh3",
          "name": "Google Slides account"
        }
      }
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "New Test",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1640,
        0
      ],
      "id": "8d4c27ac-48c0-41db-9100-7d7d149c79ce",
      "name": "Google Sheets",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "v8GFyPtaMN9OlzXU",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "task": "samik",
        "title": "New test",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasks",
      "typeVersion": 1,
      "position": [
        1860,
        0
      ],
      "id": "ec4fb597-1e64-4584-af16-b258a99a1769",
      "name": "Google Tasks",
      "executeOnce": true,
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "SLWmjM9p3yU2bop9",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-exp:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1940,
        -1880
      ],
      "id": "24f1406c-d518-445b-bb0c-fbe01e188ac6",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "AfRxz3rJEz8FrwGs",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1240,
        -1820
      ],
      "id": "de1f8dad-1ea6-43af-a6b2-63354bfeb207",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "1yxfk0AGDQPC0GvO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        1400,
        -1880
      ],
      "id": "f59ac38f-29ce-46b3-8b10-237104008247",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "qv6NzGVbJd7BsL7o",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1520,
        -1780
      ],
      "id": "90de58ba-d1de-48ab-bb2d-a2036a2005c4",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dKpYU0FqW4xIXKiS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "klusterai/Meta-Llama-3.1-405B-Instruct-Turbo",
          "mode": "list",
          "cachedResultName": "klusterai/Meta-Llama-3.1-405B-Instruct-Turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1660,
        -1880
      ],
      "id": "75885a5b-1a96-4c8d-a55f-57a038f0745d",
      "name": "Kluster api",
      "credentials": {
        "openAiApi": {
          "id": "6pdQX2TxEZj7IBaU",
          "name": "KlusterAi"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        1800,
        -1760
      ],
      "id": "403be491-7110-4865-b580-4ff701d31769",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "aZgYIqQ4sulM82gD",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "samik@prosamik.com",
        "toEmail": "samik@prosamik.com",
        "subject": "Testing from n8n",
        "html": "Testing from n8n ",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1220,
        -1360
      ],
      "id": "93a62c4c-4fef-4e60-ae41-d47d6a916bfd",
      "name": "Send Email",
      "webhookId": "9133e538-88a1-48e2-9be0-dc1c67e98d33",
      "alwaysOutputData": true,
      "credentials": {
        "smtp": {
          "id": "ghtWMZAQBFKqgonF",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "person": "CQmg02D0ag",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1420,
        -560
      ],
      "id": "ef2fc71b-e4c0-4e53-bffe-323dccdf694d",
      "name": "LinkedIn",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "ekZm0OnpB5RZl0zB",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Google Credentials\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 280,
        "width": 1560
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        500,
        -100
      ],
      "typeVersion": 1,
      "id": "435064fa-0b17-4e41-9eaf-018920c4d860",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08HSAUM7T8",
          "mode": "list",
          "cachedResultName": "n8n-test"
        },
        "text": "hello from tool",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slackTool",
      "typeVersion": 2.3,
      "position": [
        1080,
        -840
      ],
      "id": "22bc031f-016a-44a3-99ba-ca2d7ad67896",
      "name": "Message on your behalf",
      "webhookId": "e9ccf701-885c-4060-a6ed-9ec0fa58144c",
      "credentials": {
        "slackOAuth2Api": {
          "id": "DKTlId3uiUoPIFPm",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "trigger": [
          "message",
          "app_mention",
          "any_event"
        ],
        "channelId": {
          "__rl": true,
          "value": "C08HSAUM7T8",
          "mode": "list",
          "cachedResultName": "n8n-test"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        1340,
        -860
      ],
      "id": "32748cb9-e4fc-4c48-82bd-cab73adb6422",
      "name": "Listen to messages ",
      "webhookId": "45384775-11a0-42dd-8ddc-66f33cdb01dd",
      "credentials": {
        "slackApi": {
          "id": "nvm1CiXlkFZjeGuA",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Slack Credentials \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 260,
        "width": 600
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        980,
        -940
      ],
      "typeVersion": 1,
      "id": "cf0723da-db0e-46d9-b3a6-b7c37861c093",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Meta Credentials \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 260,
        "width": 900
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        820,
        -380
      ],
      "typeVersion": 1,
      "id": "61364060-b564-4dfd-9064-28f16650681b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Other Social media Credentials\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 260,
        "width": 700
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        920,
        -660
      ],
      "typeVersion": 1,
      "id": "fc0d9aef-e8df-49c3-bc3a-6514e11ac6cf",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "resource": "base",
        "operation": "getSchema",
        "base": {
          "__rl": true,
          "value": "appPwWVTFx5haL8W0",
          "mode": "list",
          "cachedResultName": "Content Calendar",
          "cachedResultUrl": "https://airtable.com/appPwWVTFx5haL8W0"
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1100,
        -1120
      ],
      "id": "325b1928-ef44-4caf-b9ce-85ae8c5de422",
      "name": "Airtable Personal Access",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "gXyuALhVmyP6ASmr",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "resource": "base",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1340,
        -1120
      ],
      "id": "06e508e6-84e8-4e28-b67e-703b4062de5c",
      "name": "Airtable O Auth",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "Ihx0PP7pOZgVnNkv",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Airtable \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 240,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        -1200
      ],
      "typeVersion": 1,
      "id": "482bb989-161d-4a6b-a869-ecdfacf93bbf",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "17841470385453514",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "https://prosamik.com/_next/image?url=%2Fme-here.jpg&w=256&q=75"
              },
              {
                "name": "caption",
                "value": "testing from n8n\n\n#testing #soon_deleted"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1220,
        -300
      ],
      "id": "a58e59b0-e6a0-4726-8efe-2bd7edc68935",
      "name": "Create Container",
      "credentials": {
        "facebookGraphApi": {
          "id": "zFjTK3TO0r5cFrBM",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "17841470385453514",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1460,
        -300
      ],
      "id": "5682e062-27c3-43e7-83ee-ba71c829e86e",
      "name": "Upload to platform, by giving it's app id",
      "credentials": {
        "facebookGraphApi": {
          "id": "zFjTK3TO0r5cFrBM",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "content": "## AI Agents\nOpen AI api key- https://platform.openai.com/settings/organization/api-keys\nClaude- https://console.anthropic.com/settings/keys\nGemini- https://aistudio.google.com/app/apikey\nKluster using Open AI node- https://platform.kluster.ai/apikeys and for url- https://api.kluster.ai/v1\nDeepseek- https://platform.deepseek.com/api_keys\nOpenRouter- https://openrouter.ai/settings/keys\nGroq- https://console.groq.com/keys",
        "height": 320,
        "width": 1720
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        580,
        -1940
      ],
      "typeVersion": 1,
      "id": "8390783c-0156-4b8c-b48f-8a937c1e91c4",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "graphApiVersion": "v22.0",
        "node": "17841470385453514",
        "edge": "media",
        "options": {}
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1780,
        -320
      ],
      "id": "a9083883-b4f4-43f4-aa85-f553bc0963f4",
      "name": "Facebook Graph API",
      "credentials": {
        "facebookGraphApi": {
          "id": "zFjTK3TO0r5cFrBM",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "graphApiVersion": "v22.0",
        "node": "17841470385453514",
        "options": {
          "fields": {
            "field": [
              {
                "name": "followers_count"
              },
              {
                "name": "follows_count"
              },
              {
                "name": "media_count"
              },
              {
                "name": "name"
              },
              {
                "name": "profile_picture_url"
              },
              {
                "name": "username"
              },
              {
                "name": "website"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        2040,
        -320
      ],
      "id": "1a98ca1c-2b3a-43ca-93cb-8a42f6073d4e",
      "name": "Facebook Graph API1",
      "credentials": {
        "facebookGraphApi": {
          "id": "zFjTK3TO0r5cFrBM",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "graphApiVersion": "v22.0",
        "node": "17841470385453514",
        "edge": "media",
        "options": {
          "fields": {
            "field": [
              {
                "name": "id"
              },
              {
                "name": "caption"
              },
              {
                "name": "timestamp"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        2280,
        -320
      ],
      "id": "f9d466bb-375a-48d5-b0f2-d10f51b9e7ba",
      "name": "Facebook Graph API2",
      "credentials": {
        "facebookGraphApi": {
          "id": "zFjTK3TO0r5cFrBM",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "graphApiVersion": "v22.0",
        "node": "17841470385453514",
        "edge": "insights",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "metric",
                "value": "impressions,reach"
              },
              {
                "name": "period",
                "value": "day"
              },
              {
                "name": "since",
                "value": "={{ $json.currentDate }}"
              },
              {
                "name": "until",
                "value": "{{}}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        2760,
        -320
      ],
      "id": "05c8590c-47f0-4acc-8012-93aa0a58585c",
      "name": "Facebook Graph API3",
      "credentials": {
        "facebookGraphApi": {
          "id": "zFjTK3TO0r5cFrBM",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2580,
        -320
      ],
      "id": "7547ccbf-c37c-498c-a74e-a7e5b2c93680",
      "name": "Date & Time",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "user",
        "username": "prosamik",
        "details": "submitted"
      },
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [
        1740,
        -540
      ],
      "id": "6b88294e-ac90-471b-9f9e-677962d0fa31",
      "name": "Reddit1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1280,
        400
      ],
      "id": "bfbe181d-596f-41e2-b2ce-f61c4706098a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1200,
        640
      ],
      "id": "b43ddaf2-b5e8-47ba-a42d-20b8d644983b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "1yxfk0AGDQPC0GvO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1380,
        620
      ],
      "id": "2c1603cc-c92a-43c1-8c2c-c754b8105f0b",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "wOpadBoA5mZDBCzr",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        940,
        420
      ],
      "id": "062111e3-7dee-41a8-b536-8f8fe74757e7",
      "name": "When chat message received",
      "webhookId": "b4e3d83f-87a6-40db-8b8e-f8284b8a2ea1"
    },
    {
      "parameters": {
        "content": "## Chat node setup with postgres\nIf you deployed in n8n, then you can use private internal URL for postgres host\n",
        "height": 540,
        "width": 780
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        320
      ],
      "typeVersion": 1,
      "id": "4abff538-4b35-4ee2-a693-f12f5a2a00ea",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2140,
        -1760
      ],
      "id": "155e8f7a-4590-4255-b2a4-392e4c0fd84e",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "iKcnqKqTb7QcZ5iQ",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "text": "Hello",
        "additionalFields": {
          "inReplyToStatusId": {
            "mode": "id",
            "value": ""
          }
        }
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        1200,
        -560
      ],
      "id": "288d10ff-b5e8-4fc2-9c79-c7d7fab58a59",
      "name": "X1",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "jIBwO9FeDuKQEm01",
          "name": "X account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        []
      ]
    },
    "X": {
      "main": [
        []
      ]
    },
    "Reddit": {
      "main": [
        []
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Google Slides",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Slides": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Google Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Container": {
      "main": [
        [
          {
            "node": "Upload to platform, by giving it's app id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API3": {
      "main": [
        []
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Facebook Graph API3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Listen to messages ": [
      {
        "user": "U08HSAV8ALW",
        "type": "message",
        "ts": "1742550350.548559",
        "client_msg_id": "aa459aef-f027-4faa-b61d-a6f83e332a56",
        "text": "hello",
        "team": "T08HSAV7X7G",
        "blocks": [
          {
            "type": "rich_text",
            "block_id": "FSpy2",
            "elements": [
              {
                "type": "rich_text_section",
                "elements": [
                  {
                    "type": "text",
                    "text": "hello"
                  }
                ]
              }
            ]
          }
        ],
        "channel": "C08HSAUM7T8",
        "event_ts": "1742550350.548559",
        "channel_type": "channel"
      }
    ],
    "AI Agent": [
      {
        "output": "I can assist you with a wide range of tasks, including:\n\n1. **Answering Questions:** I can provide information and answer questions on various topics, including science, history, technology, and more.\n\n2. **Writing Assistance:** I can help you draft essays, reports, stories, or any type of written content. I can also assist in editing and proofreading.\n\n3. **Learning and Education:** I can explain concepts, help with homework, and provide study tips or resources.\n\n4. **Creative Writing:** I can help brainstorm ideas for stories, poetry, or other creative projects.\n\n5. **Technical Support:** I can offer guidance on tech-related issues, software use, and troubleshooting.\n\n6. **Language Learning:** I can assist with learning new languages, including vocabulary, grammar, and conversation practice.\n\n7. **Recommendations:** I can suggest books, movies, recipes, or travel destinations based on your interests.\n\n8. **General Advice:** I can offer advice on various topics, including personal development, productivity, and time management.\n\nFeel free to ask me anything specific you need help with!"
      }
    ],
    "When chat message received": [
      {
        "sessionId": "464e13ca3cf14e0597d077fdca69fc39",
        "action": "sendMessage",
        "chatInput": "What can you do"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5aaaece965e40be77247b752b59c3ae2c6ee91f5df21dc5b7c0e019b005c1df4"
  }
}