youtube-transcript-analyzer/Summarize-YouTub-Videos-from-Transcript.json
{
    "nodes": [
      {
        "parameters": {
          "content": "**Summarize YouTube videos**\n\nThis project automates the summarization of YouTube videos, transforming lengthy content into concise, actionable insights. By leveraging AI and workflow automation, it extracts video transcripts, analyzes key points, and generates summaries, saving time for content creators, researchers, and professionals. Perfect for staying informed, conducting research, or repurposing video content efficiently.",
          "height": 120,
          "width": 1160,
          "color": 7
        },
        "id": "6d908a58-8893-48da-8311-8c28ebd8ec62",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          380,
          240
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "Add the full YouTube URL. ☝️\nYou can change this input to a webhook or anything else.",
          "height": 80,
          "width": 230
        },
        "id": "98de613a-1b1e-4b46-915f-7bebcfd6a931",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          360,
          640
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.apify.com/v2/acts/topaz_sharingan~youtube-transcript-scraper-1/run-sync-get-dataset-items",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "token",
                "value": "APIFY_TOKEN"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n    \"startUrls\": [\"{{ $json['Full URL'] }}\"]\n}",
          "options": {}
        },
        "id": "064208d4-52c3-46a9-9f9f-d37258189d06",
        "name": "Request YouTube Transcript",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          700,
          500
        ],
        "typeVersion": 4.2
      },
      {
        "parameters": {
          "content": "Once you follow the Setup Instructions (mentioned in the template page description), you can insert the full URL endpoint, which includes both the POST Endpoint and API Key. 👇",
          "height": 340,
          "width": 280,
          "color": 3
        },
        "id": "ba5e52fd-18b1-4232-961c-b53b01e21202",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          620,
          380
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "f3caad55-0c7d-4e8e-8649-79cc25b4e6aa",
        "name": "No Operation, do nothing",
        "type": "n8n-nodes-base.noOp",
        "position": [
          1280,
          500
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "8d72e533-a053-4317-9437-9d80d3ed098f",
        "name": "Summarization of a YouTube script",
        "type": "@n8n/n8n-nodes-langchain.chainSummarization",
        "position": [
          940,
          500
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "formTitle": "Summarize YouTube video's",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Full URL"
              }
            ]
          },
          "options": {
            "path": "ddd"
          }
        },
        "id": "8f4e1c7c-286b-48aa-8f50-404e8f1d430b",
        "name": "YouTube video URL",
        "type": "n8n-nodes-base.formTrigger",
        "position": [
          480,
          500
        ],
        "webhookId": "3dc17600-3020-40b1-be8f-e65ef45269b6",
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "content": "☝️ Optional\nIf the workflow ends here, Consider checking with another enrichment service.",
          "height": 100,
          "color": 4
        },
        "id": "fb861e09-d415-4f32-a4de-a6ff84ac7f7b",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1280,
          640
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "17c0dc77-bee4-4271-b957-e0c793537a03",
        "name": "Summarization Engine",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "position": [
          940,
          680
        ],
        "typeVersion": 1.1,
        "credentials": {
          "openAiApi": {
            "id": "VLI6WUL2pS4d0IrI",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "content": "The summarization node works automatically and professionally, recognizing the input text and processing it directly without requiring any enhancements from your side👇",
          "width": 280,
          "color": 5
        },
        "id": "a8d5362e-459e-4a76-8ee2-b1eb977215a2",
        "name": "Sticky Note4",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          940,
          380
        ],
        "typeVersion": 1
      }
    ],
    "connections": {
      "Request YouTube Transcript": {
        "main": [
          [
            {
              "node": "Summarization of a YouTube script",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarization of a YouTube script": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "YouTube video URL": {
        "main": [
          [
            {
              "node": "Request YouTube Transcript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarization Engine": {
        "ai_languageModel": [
          [
            {
              "node": "Summarization of a YouTube script",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {
      "Request YouTube Transcript": [
        {
          "videoTitle": "Speak 10X Clearer: Do These 3 Vocal Exercises Every Day - YouTube",
          "url": "http://youtube.com/watch?v=BEuwA7Cbbuc",
          "transcript": "in this video I'm going to be sharing with you three simple yet powerful exercises and it's only going to take you 10 minutes a day and if you stay consistent with it it will transform the clarity of your everyday speech dramatically can I tell you that once I committed to these exercises for a good 3 to 4 months my vocal quality is completely changed what does that tell us about the art of magic tells us one thing it tells us that magic has existed way before Neuroscience or psychology was ever founded or discovered you are the direct reflection of the top five people you spend time with so what that means is that it means I can control who I become in the future by deciding who I spend time with today the first thing the biggest problem that most people have is that they Mumble most people Mumble and they don't move their mouth enough so the first vocal activity that I want to give you is grab a book any book and read that for 3 to 4 minutes a day and while you're reading that book overdo the mouth movement overdo it over stretch your mouth you overdo the movements so that when you go to speak every day a lot more of that movement will come through whereas if you practice yourself and you don't overdo it and you just kind of go what apps or exercises do you recommend that means in your everyday speech 80% of that will come through so if I did it in the way that I shared it's what apps or exercises do you recommend for daily vocal Mastery PR practice and you overdo the lip movements and the tongue movements these are your articulators how you shape sound the second exercise I would focus on your soft palette there are a lot of my students that struggle with volume and they kind of go ah then every time I try to speak with more volume I lose my voice or I find that I strain my voice or I hurt my voice it's because you're you're using a lot of your throat to create the volume right so you're like hi everyone I I really want to get my voice up can you see how strain this sounds if you just try to do that for 2 minutes you'll lose your voice you'll damage your voice really shouldn't have done that but again just wanted to demonstrate that for you now there's something called volume for free that's not volume for free you're paying a huge price for that volume I can speak the way I currently speak I can do that for 8 10 12 hours a day and it doesn't take much out of me anymore because I've learned how to efficiently access volume so to access that volume you want to lift your soft palette if you just put your thumbs make sure your thumbs are clean and feel your hard pette is that area right underneath your front teeth there notice how hard that is as you start to slide your thumb back you start to feel a it gets a bit soft after the hard palette and you'll notice what it's like it feels really slimy and really soft that's your soft palette the behavior that many of my students have that they didn't realize they've picked up is that they close their soft palette so their soft palette is lower and when your soft palette is lower that means that when you create voice because voice is created by airf flow going up your air pipes and then it goes through your larynx which also contains your your vocal folds and then when the air hits the vocal folds the vo vocal folds vibrates and then it creates the sound that sound is produced from that point and then one of the areas where that voice will start to resonate to come out of your mouth is the soft pallet area of your mouth that beautiful area then creates strong vibrations now if that area is small then the vibrations when they come out it sounds quiet however if that area is as big as as possible and you open up that soft palette then you get volume for free by the way if you're enjoying this video be sure to hit like And subscribe so that we can help more people become better communicators all right back to the video the best way to achieve that now is to always speak with a pre- yawn soft palette so just imagine you're yawning right now just go notice that when you yarn you have to get a sense of how it feels when it comes to your soft palette many of you right now as you're listening to this you have no sensation of the soft palette because you've never thought about being aware of that part of your body therefore you haven't built that sensitivity in your mind yet so you just got to practice it so practice it with this exercise here just go try that and notice how beautiful of a sound quality you can create when you do that that's because your soft palette is opened all the way back that's why when we yawn is this this incredible sound but then when you speak you kind of go oh hi everyone all of a sudden when I talk I why can't I access that sound o it's interesting isn't it so again do it again just go yawn and just go oh just doing that feels fantastic I love that exercise do that 10 times and as you're doing that more and more and more you become very aware you wake up to the awareness of the soft palette and you start to be conscious of how to control it and when you speak you want to learn how to control that soft palette so it's nice and open and More Than This you want to understand while you're making that beautiful sound there with that exercise start to really focus in on where are the vibrations happening and you'll literally start to develop the awareness where you can feel the vibrations happen on your soft palette then every day when you speak while you're speaking every day you want to continuously feel those vibrations happening in your soft pallette and that's when you start to really develop the habit of projecting your voice from the right place that's when you get volume for free as my vocal coaches used to always say that's volume for free volume for days and volume for free I may have unleashed the monster within because I I I I sometimes talk around my wife and she's like like I'm like what are you doing and it's her Apple watch telling me that I'm speaking too loud that I'm damaging her eardrums yay being married to Vin the next one is lip trills and the simple version of that exercise is just to do that for as long as you can control your breath so take a deep breath a deep diaphragmatic breath and you go until you run out of air I can do that for a very long time and just do it until you run out of air and hold one note just hold one note and then the second time you do it if you want a longer version of this exercise is do it to your favorite song do it to your favorite song So for me it'll be if you know the song leave it in the comment section below these three activities to begin with will take you 10 to 15 minutes incredible vocal exercises to fix the majority of issues I hope this helps click this video here if you want to not only sound more clear but develop a more powerful sounding voice then you need to check out these five vocal exercises that I teach in that video right there by the way before you go and watch that make sure your fingers are clean it's got to make sense when you when you click that video see you in the next one"
        }
      ],
      "YouTube video URL": [
        {
          "Full URL": "http://youtube.com/watch?v=BEuwA7Cbbuc",
          "submittedAt": "2025-03-14T05:13:13.708-04:00",
          "formMode": "test"
        }
      ]
    },
    "meta": {
      "templateId": "2736",
      "instanceId": "84b87970f40cd2e5f4aae113e07b629b98eb2efe3238c4854405fe22dff99738"
    }
  }